# OS junk files
[Tt]humbs.db
*.DS_Store

# Subversion files
.svn

# VSCODE
.vscode
.vscode/**/*.DB*
.vscode/**/*.db*
.vscode-ctags
tags

# Visual Studio
**/.vs/**
*.opendb
*.VC.db
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.pyc
*.xml
*.plg
*.opt

# ignore folders
[Bb]in
[Bb]uild
[Ee]xternal

# helper files
*.bak
*.sdf
*.user

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
#*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Office Temp files
~$*

